.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background: none;      /* Remove background color */
  border: none;          /* Remove border */
  padding: 0;            /* Remove default padding */
  margin: 0;             /* Remove default margin */
  font-family: inherit;  /* Inherit font from parent */
  font-size: inherit;    /* Inherit font size from parent */
  color: inherit;        /* Inherit text color */
  text-align: inherit;   /* Inherit text alignment */
  cursor: pointer;       /* Ensure button has pointer cursor */
  outline: none;         /* Remove the default focus outline */
  user-select: none;
}

::selection {
  background: none;      /* Remove background color */
}

